In [18]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib
import matplotlib.pyplot as plt
from IPython import display
from Ipywidgets import interact, widgets

import re
import mailbox
import csv

ModuleNotFoundError: No module named 'Ipywidgets'

In [ ]:
df = pd.read_csv('startup.csv')

In [ ]:
investor = pd.read_csv('startup.csv', usecols=[1,8,9 10])

In [ ]:
df.loc[0]

In [ ]:
df.set_index('investors', inplace =True)

In [ ]:
df.head()

In [19]:
df_melt = pd.melt(df, id_vars=['funding_rounds', 'funding_total_usd'], var_name='type_country', value_name='counts')
df_melt['str|split'] = df.Investors.str.split('|')
df_melt['type'] = df.str_split.str.get(0)
df_melt['country'] = df.str_split.str.get(3)

AttributeError: 'DataFrame' object has no attribute 'str_split'

In [20]:
df.tail()

,name,category_list,funding_total_usd,status,country_code,state_code,city,funding_rounds,Investors,Number_of_Investors,Acquirer,Acquirer_Category,Acquirer_Country,Acquirer_State,Acquirer_City,Acquired_Price,Acquired Currency,county,founded_at,Coordinates
13727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.118022:-77.232401
13728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.952306:-91.162325
13729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664274:-73.9385
13730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664274:-73.9385
13731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.727239:-123.032229

In [21]:
df.columns

Index(['name', 'category_list', 'funding_total_usd', 'status', 'country_code',
       'state_code', 'city', 'funding_rounds', 'Investors',
       'Number_of_Investors', 'Acquirer', 'Acquirer_Category',
       'Acquirer_Country', 'Acquirer_State', 'Acquirer_City', 'Acquired_Price',
       'Acquired Currency', 'county', 'founded_at', 'Coordinates'],
      dtype='object')

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df_dropped = df.dropna()

In [ ]:
df_dropped.info()

In [ ]:
df_no_duplicate = df.drop_duplicates()

In [ ]:
df_no_duplicate.info()

In [ ]:
assert pd.notnull(df_dropped).all().all()

In [ ]:
df.country_code.value_counts(dropna=False)

In [ ]:
df.describe()

In [ ]:
#why scatter needs to be numeric?
df.plot(kind='scatter', x='funding_rounds',y='funding_total_usd', rot =70)
plt.show()

In [ ]:
CA = df[df.state_code == 'CA']

In [ ]:
CA.head()

In [ ]:
CA.groupby('founded_at').size()

In [ ]:
# Question 1: In what year maximum startups founded at CA?
CA.groupby('founded_at').size().idxmax()

In [ ]:
#tidy data
# In melting, we turned columns into rows
# opposite of melting = pivot

df_pivot = df.pivot_table(index=['category_list', 'status'], columns='measurement', values ='reading', aggfunc=np.mean)

In [ ]:
print(df.index)

In [ ]:
df['name'] = pd.to_numeric(df['name'], errors='coerce')
print(df.info())